@media screen and (max-width: 481px) {
#content {
	width: 100%;
	float: none;
}
#sidebar {
	width: 100%;
	float: none;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}
}
#header {
    width:100%;
    background-color:#051035;
    color:white;
    text-align:center;
    background-image: url(../css/pics/svgLogo.svg);
    background-size: 9.76% 9.76%;
    background-position: left 1.9%;
    background-repeat: no-repeat;
    
}
#nav ul{
    line-height:30px;
    background-color:#13214A;
    list-style-type: none;
    font-family: verdana;
    font-size:10px;
    padding: 0;
    float:none;
    text-align:center;
 
    
}

#nav li{
    margin: 0.97% ; /*Mellan rum mellan list items*/
   
}

.active {
    font-size:15px;
    text-align:right;
}

#nav a{
    display: block;
    width: 100%;
    background-color: #dcdcdc;
    text-decoration: none; /*tar bort understräcken*/
    background-image: url(../css/pics/sprite.png);
    background-repeat:no-repeat;
}

#home-icon { background-position: 0 -44px}
#home-icon:hover {background-position: 0px 4px}

#tool-icon { background-position: 0px -140px}
#tool-icon:hover {background-position: 0 -92px}

#presentation-icon { background-position: 0px -236px}
#presentation-icon:hover {background-position: 0 -188px}

#contact-icon { background-position: 0px -333px}
#contact-icon:hover {background-position: 0 -285px}

#nav a:link, #nav a:active, #nav a:visited {
    color: #000000;
}



#background {
    width:100%;
    height:auto;
    margin:0 auto;
    background-color:#13214A;
}
    
   

#footer {
    background-color:#051035;
    width:100%;
    color:white;
    clear:both;
    text-align:center;
   	 
}

#content {
  width: 100%;
  float:none;
  background-color:#596381;
  height: auto;
  font-family: sans-serif;

}

.right {
    float: right;
    border:1px solid #021a40;
    padding: 1px;
}
.left {
    float: left;
    border:1px solid #021a40;
    padding: 1px;
}

.center {
    margin-left:21.48%; 
    
  }
  
  table, td, th {
    border: 1px  solid;
}

th {
    background-color: green;
    color: white;
}

#text {
    border-radius:0.48%;
    margin-left:7.41%;
    width: 30.57%;
}

#text2 {
    max-width:200px;
    width:30.57%;
    max-height:100px;
    border-radius:0.48%;
    margin-left:7.41%;
}

#text3 {
    border-radius:0.48%;
    width:30.57%;
    margin-left: 0.48%;
}

/*
header färg: #051035
nav fönster färg: #3E496F
bakgrundsfärg: #13214A
content färg: #596381
footer färg: #051035

*/